* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

img,
svg {
    display: block;
}

:root {
    --clr-primary-hsl-400: 252, 100%, 67%;
    --clr-primary-hsl-500: 256, 72%, 46%;
    --clr-secondary-hsl-400: 241, 81%, 54%;
    --clr-secondary-hsl-500: 241, 72%, 46%;

    --clr-neutral-hsl-100: 0, 0%, 100%;
    --clr-neutral-hsl-200: 221, 100%, 96%;
    --clr-neutral-hsl-300: 241, 100%, 89%;
    --clr-neutral-hsl-700: 224, 30%, 27%;

    --clr-neutral-100: var(--clr-neutral-hsl-100);
    --clr-neutral-200: var(--clr-neutral-hsl-200);
    --clr-neutral-300: var(--clr-neutral-hsl-300);
    --clr-neutral-700: var(--clr-neutral-hsl-700);

    --clr-primary-400: var(--clr-primary-hsl-400);
    --clr-primary-500:var(--clr-primary-500);
    --clr-secondary-400: var(--clr-secondary-hsl-400);
    --clr-secondary-500:var(--clr-secondary-500);

    --clr-primary-bg: #111111;
    --clr-secondary-bg: #f2f2f2;

    --clr-accent-1: 0, 100%, 67%;
    --clr-accent-2: 39, 100%, 56%;
    --clr-accent-3: 166, 100%, 37%;
    --clr-accent-4: 234, 85%, 45%;

    --clr-primary-text: #2c3e50;
    --clr-secondary-text: #f2f2f2;


    --font-family-default: 'Poppins';

    --fw-regular: 500;
    --fw-bold: 700;
    --fw-black: 800;

    --fs-400: 1.125rem;
    --fs-500: 1.25rem;
    --fs-600: 1.5rem;
    --fs-700: 1.75rem;
    --fs-800: 2rem;
    --fs-900: 3.5rem;

    --fc-background: rgb(0, 0, 0);
    --fc-default: rgb(147, 147, 147);
    --fc-secondary: rgb(255, 255, 255);


    --fs-icon-default: 2.5rem;
    --clr-icon-primary: rgb(255, 255, 255);
    --clr-icon-secondary: rgba(255, 255, 255, 0.4);
    --clr-icon-hover: rgb(200, 200, 200);

    --clr-fb:#4267B2;
    --clr-insta: #5B51D8;


    --br-default: 50px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-family-default);
    font-size: var(--fs-400);
    color: var(--clr-neutral-700);
    background-color: #d3d3d3;
}

header {
    display: flex;
    justify-content: space-between;
    height: 9.45vh;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--fc-background);
    opacity: 80%;
    color: var(--clr-primary-text);

    a,
    p {
        color: var(--fc-default);
    }

    a {
        font-size: var(--fs-500);
    }

    a:hover {
        color: rgba(255, 255, 255, 0.782);
    }

    .header-row {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
        width: 100%;
        /* background-color: red; */

        .landing-page {
            display: flex;
            align-items: center;
            gap: 2rem;
            height: 2rem;
            /* background-color: gold; */

            a {
                font-size: var(--fs-700);
            }
            a:hover {
                color: var(--clr-icon-hover);
            }

        }
        .header-navigation{
            display: flex;
            flex-direction: row;
            width: 40%;
            /* background-color: green; */

            .navigation{
                /* background-color: pink; */
                width: 100%;
                display: flex;
                justify-content: space-evenly;
            }
        }
    }
}



main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60.55vh;
    background-image: url(../img/ildar-garifullin-rxcIGXJflVo-unsplash.jpg);
    background-position: center;
    background-size: cover;
    /* background-color: white; */
    /* background-color: rgba(255, 0, 0, 0.411); */

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 60%;
        /* background-color: rgba(255, 255, 255, 0.363); */


        .section-container {
            display: flex;
            flex-direction: column;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 10px;
            height: 97%;
            padding: 2rem;

            .section-content {
                display: flex;
                flex-direction: column;
                margin-bottom: 2.5rem;

                h1,
                p {
                    color: var(--fc-secondary);
                }
            }

            .form-container {
                display: flex;
                flex-direction: column;
                position: relative;
                /* background-color: green; */
                height: 100%;
                span {
                    color: red;
                }
                label {
                    display: block;
                    color: var(--fc-secondary);
                    /* background-color: red; */
                  }
                select {
                    width: 100%;
                    padding: 8px;
                    font-size: 14px;
                    border: 1px solid #ccc;
                    border-radius: 4px;
                }

                .next-page {
                    /* background-color: red; */
                    position: absolute;
                    bottom: 0;
                    width: 10%;
                    height: 10%;
                    border-radius: 4px;
                }
            }
        }
    }
}


.design-two-animated-footer {
    opacity: 80%;              /*----------------------SECOND-----------------------*/
    display: flex;
    width: 100%;
    height: 30vh;
    justify-content: space-between;
    padding: 1rem 12vw 1.5rem 12vw;  /*top right bottom left*/
    background: var(--fc-background);
    flex-direction: column;
    z-index: 1000;
    margin-top: 0; /* take available whitespace */
    margin-bottom: -10px;      /* remove bottom whitespace */
    padding-bottom: 5px;

    p {
        font-size: .9rem;
    }

    & > .top-div-container {
        display: flex;
        width: 100%;
        height: 50%;
        align-items: center;

        .first-row {
            display: flex;
            width: 15%;
            height: 100%;
            align-items: center;
            .logo {
                height: 2rem;
            }
            .logo:hover {
                transition: .5s;
                transform: rotateX(90deg);
                transform: rotateY(360deg);
            }
        }
        .second-row {
            display: flex;
            width: 70%;
            height: 100%;
            justify-content: center;
            align-items: center;
            .navigation {
                display: flex;
                width: 100%;
                flex-direction: row;
                justify-content: space-evenly;
                color: var(--fc-secondary);
                width: 100%;
                a {
                    color: rgba(255, 255, 255, 0.693);
                }
                .navigation-content:hover{
                    border-left: 2px white solid;
                    margin-right: -7px;
                    padding-left: 5px;
                    color: var(--fc-secondary);
                }
            }
        }
        .third-row {
            display: flex;
            justify-content: flex-end;
            flex-direction: row;
            gap: 2.5rem;
            align-items: center;
            width: 15%;
            height: 100%;

            .content {
                color: rgba(255, 255, 255, 0.693);
                font-size: 1.2rem;
            }
            .content:hover{
                color: var(--fc-secondary);
                text-shadow: 0px 5px 10px rgba(255, 255, 255, 0.693);;
            }
        }
    }

    & > .line {
        width: 100%;
        height: 1%;
        border-radius: 50px;
        background-color: rgb(91, 91, 91);
        transition: .5s;
    }

    & > .line:hover {
        background-color: white;
    }

    & > .bottom-div-container {
        width: 100%;
        height: 40%;
        display: flex;
        color: white;
        align-items: center;

        .first-row {
            width: 60%;
            p {
                color: var(--fc-default);
            }

        }
        .second-row {
            display: flex;
            justify-content: flex-end;
            gap: 3rem;
            width: 40%;
            align-items: center;

            a{
                color: var(--fc-default);
            }
            p {
                text-align: center;
                font-size: .7rem;
                color: var(--fc-default);
            }
            a:hover {
                color: rgba(255, 255, 255, 0.782);
            }
        }
    }
}